/* CSS Entrenamientos */
.seccion__titulo{
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 1rem;
    width: 80%;
    background-color: $BackgroundColor;


}
.section1__titulo{
    padding: 30px;
    text-align:map-get($estilos, centro );
    font-size: 50px;
}

.grid__section1{
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 1rem;
    background-color: $BackgroundColor;
    
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-template-rows: repeat(4,1fr);

    gap: 1rem;
}


.grid__div{
    text-align: map-get($estilos, centro );
    margin-top: 1rem;
    margin-left: 0;
    padding: 2.5rem;

    transition: transform .8s;

    &:hover{
        transform: scale(1.03);
    }
}

//Extend

.div__titulo{
    text-align: map-get($estilos, centro);
    font-size: 40px;
    width: 100%;
    height: 400px;

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
    @include generarFlex(row, center, center);

    &-1{
        background-image: url(../imagenes/salon1.jfif);
    
        @extend .div__titulo;
    
    }
    &-2{
        background-image: url(../imagenes/funcional2.jfif);
        @extend .div__titulo;
    
    }
    &-3{
        background-image: url(../imagenes/pilates1.jfif);
        @extend .div__titulo;
    
    }
    &-4{
        background-image: url(../imagenes/yoga1.jfif);
        @extend .div__titulo;
    
    }
    
    &-5{
        background-image: url(../imagenes/crossfit.jpg);
        @extend .div__titulo;
    
    }
    
    &-6{
        background-image: url(../imagenes/gap.jpg);
        @extend .div__titulo;
    
    }
    
    &-7{
        background-image: url(../imagenes/zumba3.jpg);
        @extend .div__titulo;
    
    }
    &-8{
        background-image: url(../imagenes/spinning.jfif);
        @extend .div__titulo;
    }
}

.div__parrafo{
    margin-top: 1.5rem;
    margin-bottom: 1rem;
    
    text-align:map-get($estilos, centro );
    font-size: 20px;
    line-height: 1.5 ;
}

.div__span{
    text-align:map-get($estilos, centro );
    font-size: 18px;
}

/* Comienzo de seccion dos de entrenamientos */

.section2{
    background-color: $BackgroundColor;

    min-height: 500px;
    margin-left: 10%;
    margin-right: 10%;
    margin-bottom: 3rem;
    width: 80%;

    @include generarFlex(column, center, center);


    &__titulo{
        text-align:map-get($estilos, centro );
    }
    
    &__tabla{
        width: 600px;
        height: 400px;
    }
}

table {
    box-shadow:0 0 20px 0 rgba(157, 140, 140, 0.3) ;
    background-color: $BackgroundColor;
    border-color: #b70e21;
}
