@media screen and (max-width:600px) { /* Mobile */


    /* Header */
        .header{
            flex-direction: row;

            &__emoji{
                display: block;
                font-size: 4rem;
                color: white;
                text-decoration: none;
            }
        }
        .nav{
            display: block;
            padding: 0;

            &__enlace{
                font-size: 28px;
            }

            &__lista{
                flex-direction: column;
                height: 100%;
                justify-content: flex-start;
                gap: 1rem;
                padding: 0.5rem;
            }

            &__item{
                margin-left: 0;
    
                %--close{
                    display: block;
                }
            }
        }
        #lateral {
            display: block;
            background-color: rgba(0, 0, 0, 0.8);
            width: 80%;
            height: 100vh;
    
            position: fixed;
            top: 0;
            right: -100%;
            z-index: 100 ;
    
            transition: right 1s;

            &:target{
                right: 0;
                color: #fff;
            }
        }
    /* Footer */

        .footer{
            width: 100%;
        }
        .footer__marca{
            display: none;
        }

        .lista__redes{
            flex-direction: column;

            &-items{
                margin: 0;
                padding: 0.5rem;
            }

            &-emoji{
    
                font-size: 2rem;
            }

        }
        .lista__enlace{
            font-size: 24px;
        }
    
    /* Inicio */

        .imagen{
            height: 550px;
            background: linear-gradient(90deg, #1e1e1e , #1e1e1e   );
            object-fit: cover;
            opacity: 0.8;
        }
        .titulo__carrusel{
            font-size: 26px;
        }
        .d-none {
            display: block!important;
        }
        .seccion{
            flex-direction: column;
            gap: 2rem;
        }
        .seccion__unidades-1{
            width: 90%;
        }
        .seccion__unidades-2{
            width: 90%;
        }
        .seccion__unidades-3{
            width: 90%;
        }
        .unidad__titulo{
            font-size: 40px;
        }
    
    /* Entrenamientos */

        .seccion__titulo{
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        .section1__titulo{
            font-size: 45px;
            padding: 1rem;
        } 
        .grid__section1{
            grid-template-columns: repeat(1,1fr);
            margin-left: 5%;
            margin-right: 5%;
        }
        .grid__div{
            justify-self: center;
            margin-left: 0;
            width: 100%;
        }
        .div__titulo{
            width: 100%;
        }
        .div__parrafo{
            font-size: 18px;
        }
        .div__span {
            padding-right: 0;
        }
        .section2{
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;

            &__titulo {
                font-size: 30px;
            }
            &__tabla{
                width: 80%;
                font-size: 13px;
            }
        }
        .streaming__div2 h2, h3, p {
            padding: 1rem;
            font-size: 30px;
        }
        .streaming__div2 p {
            font-size: 18px;
        }
        .streaming__boton {
            width: 100px;
        }
        .streaming__img {
            margin-left: 0;
        }
        .streaming__h2{
            font-size: 2rem;
        }
        .streaming__p{
            font-size: 18px;
        }
        .streaming__grid{
            display: block;
        }
        .streaming__img2 {
            width: 200px;
        }
    
    /* Nutricion */

        .section1__nutricion{
            height: 500px;
            background-position: top;

            &::before{
                height: 500px;
            }
            &__titulo{
                font-size: 50px;
            }
            &__parrafo{
                margin-top: 11rem;
                width: 100%;
                font-size: 22px;
            }
        }
        .section2__nutricion{
            margin-top: 2rem;

            &__parrafo{
                font-size: 24px;
            }
            &__titulo{
                font-size: 24px;
            }
        }
        .nutricion__form form {
            display: flex;
            flex-direction: column;
        }
    
    /* Nosotros */
        .seccion__nosotros__titulo{
            font-size: 40px;
        }
        .seccion2__grid {
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;

            grid-template-columns: repeat(1,1fr);
            grid-template-areas:
            "ele8 ele6 ele5"
            ". ele7 ele3"
            "ele1 ele9 ele2";
        }

        iframe{
            width: 100%;
        }
    /* Contacto */
        .contact__formulario{
            box-shadow:0 0 20px 0 rgba(255, 255, 255, .3) ;
            padding: 1em;
            display: block;
        }
        .contact__info h4,
        .contact__info ul,
        .contact__info p {
            text-align: center;
        }
        .contact__form form {
            display: flex;
            flex-direction: column;
        }
    }    