@media screen and (max-width:1023px){ /*  Tablet */ 
    /* Header */
        .header{
            flex-direction: column;
        }
        
        .header__emoji{
            display: none;
        }
        .nav__item--close{
            display: none;
        }
        .footer__marca{
            display: none;
        }
    
    /* Inicio */

        .imagen{
            background: linear-gradient(90deg, #1e1e1e , #1e1e1e   );
        
            opacity: 0.8;
        }
        h1 {
            font-size: 35px;
        }
        .presentacion{
            height: auto;
        }
        .d-none {
            display: block!important;
        }
        .imagen{
            height: 400px;
        }
        .presentacion__titulo{
            font-size: 50px;
        }
        .seccion{
            margin-left: 0;
            margin-right: 0;
            width: 100%;
        }
        .seccion__unidades-1{
            width: 32%;
        }
        .seccion__unidades-2{
            width: 32%;
        }
        .seccion__unidades-3{
            width: 32%;
        }
    /* Entrenamientos */
        .grid__section1{
            grid-template-columns: repeat(1,1fr);
        }
        .grid__div{
            justify-self: center;
            margin-bottom: 1rem;
            margin-left: 0;
        }
        .div__titulo{
            width: 100%;
        }
        .div__parrafo{
            margin-left: 5%;
            margin-right: 5%;
    
        }
        .div__span {
            padding-right: 2rem;
        }
        .section2__tabla{
            width: 100%;
        }
    
    /* Nutricion */
        .section1__nutricion{
            background-attachment: inherit;
            height: 450px;
        }
        .section1__nutricion::before{
            height: 450px;
        }
        .section1__nutricion__titulo{
            font-size: 64px;
        }
        .section1__nutricion__parrafo{
            font-size: 30px;
        }
        .section2__nutricion{
            margin-left: 5%;
            margin-right: 5%;
            width: 90%;
        }
        .section2__nutricion__parrafo{
            font-size: 28px;
            text-align: center;
            padding: 1rem;
        }
        .nutricion__form{
            width: 100%;
        }
    
    /* Nosotros */
        .seccion__nosotros__titulo{
            position: relative;
            font-size: 50px;
        }
        
    /* Contacto */
    .contact__form form {
        display: flex;
        flex-direction: column;
    }
    }