//Mixin
@mixin generarFlex ($direccion, $eje-principal, $eje-secundario) {
    display: flex;
    flex-direction: $direccion;
    justify-content: $eje-principal;
    align-items: $eje-secundario;
}


// Mapa
$estilos: (
    centro: center,
    padding : 1rem
);


