/* Como creo una variable en SASS */
/* $miVariable1: valorReutilizar ; -> Sintaxis de como escribir uuna variable */


$Sombreado-Navs: 0 0 10px  #b70e21;
$Color-LetraPrincipal:#fff ;
$Box-ShadowForms:0 0 20px 0 rgba(157, 140, 140, 0.3) ;
$BackgroundColor: Black;


